// ==========================================
// nextflow.config
// ==========================================

params {
    base   = "${HOME}/shoshani"

    // 1. Target Samples (Override these via command line)
    tumors  = "PD29429h_DM3_40,PD29429i_DM3_640"
    normal  = "HELA"

    // 2. Base Directories
    scripts  = "${params.base}/ShareScripts/wgs"
    results  = "${params.scripts}/results"
    annotate = "${params.scripts}/annotate"
    fastq_dir = "${params.scripts}/data/fastq" // Directory to scan for FASTQs

    // 3. Core References
    genome   = "${params.base}/GRCh38.p7.genome.fa"

    // 4. ASCAT & CaVEMan Specific Parameters
    species  = "Human"
    assembly = "GRCh38"
    ascat_gc_correction = "~/CNV_SV_ref_GRCh38_hla_decoy_ebv_brass6+/ascat/SnpGcCorrections.tsv"

    caveman_blacklist = "~/hg38-blacklist.v2.bed"
    caveman_indels    = "~/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"

    // 5. Environments & Containers
    lumpy_env    = "${HOME}/.conda/envs/lumpy-sv"
    ampsuite_env = "${HOME}/.conda/envs/ampsuite"
    cgpwgs_sif   = "${HOME}/cgpwgs.sif"
}

// lsf and resources
process {
    executor = 'lsf'
    queue    = 'short'

    clusterOptions = '-R "select[model=AMD_EPYC]"'
    // errorStrategy = { task.attempt <= task.maxRetries ? 'retry' : 'finish' }  // not yet

    // job defaults
    cpus   = 8
    memory = '48 GB'
    time   = '24h'

    // memory failures retrial strategy
    // errorStrategy = 'retry'
    // maxRetries    = 0 // TODO: 2

    // lite jobs
    withName: 'GENERATE_BAMS_LIST|PREPARE_BEDS' {
        cpus   = 1
        memory = '1 GB'
        time   = '1h'
    }
}

// conda and singularity
conda {
    enabled = true
}

singularity {
    enabled    = true
    autoMounts = true
}