// global vars
params {
    base     = "${HOME}/shoshani"
    scripts  = "${params.base}/ShareScripts/wgs"
    normal   = "HeLa_S3__control_of_DM3_and_DM6"
    tumor    = "HeLa_DM3_10000_nM_Resistance_of_MTX"
    genome   = "${params.base}/GRCh38.p7.genome.fa"
    results  = "${params.scripts}/results"
    annotate = "${params.scripts}/annotate"
    cgpwgs_sif = "${HOME}/cgpwgs.sif"
    lumpy_env = "${HOME}/.conda/envs/lumpy-sv"
}

// lsf and resources
process {
    executor = 'lsf'
    queue    = 'short'
    // errorStrategy = { task.attempt <= task.maxRetries ? 'retry' : 'finish' }  // not yet
    
    // job defaults
    cpus   = 8
    memory = '24 GB'
    time   = '24h'
    
    // memory failures retrial strategy
    errorStrategy = 'retry'
    maxRetries    = 2

    // lite jobs
    withName: 'GENERATE_BAMS_LIST|PREPARE_BEDS' {
        cpus   = 1
        memory = '1 GB'
        time   = '1h'
    }
}

// conda and singularity
conda {
    enabled = true
}

singularity {
    enabled    = true
    autoMounts = true
}